{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant</title>
    <script src="https://unpkg.com/vue/dist/vue.global.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div id="app" class="restaurant-single">
      <button class="back-link">
        <a href="/restaurants">← Back to list</a>
      </button>
      {% verbatim %}
      <div v-if='restaurant' class="restaurant-card" :key="restaurant.id">
                <img class="restaurant-card__img" :src="restaurant.image" alt="restaurant-logo"></img>

                <div class="restaurant-card__details">
                    <div class="restaurant-card__details-primary">
                        <h3 class="restaurant-card__details--title">
                            {{ restaurant.name }}
                            ⭐{{ restaurant.rating }}
                        </h3>
                        <p class="restaurant-card__details--description">{{ restaurant.description }}</p>
                    </div>

                    <div class="restaurant-card__details-secondary">
                        <p class="restaurant-card__details--cuisine"><b>Cuisine:</b> {{ restaurant.cuisine }}</p>
                        <p class="restaurant-card__details--price"><b>Price:</b> Usually {{ restaurant.price }}$ per person</p>
                    </div>
                </div>
            </div>

        <button @click="addReview()" class="add-review-btn">{{ isAddingActive ? 'Post' : 'Add review' }}</button>

        <div class="reviews-wrapper">
          <div class="review" v-if="isAddingActive">
              <img src="../../static/user.png" height="35" width="35" class="review-img"></img>

              <div class="review-details">
                <input v-model="newReview.username" placeholder="Username" /> 
                <input v-model="newReview.comment" placeholder="Write your review here..." />
                <input v-model="newReview.rating" type="number" placeholder="⭐" />
              </div>
          </div>
          
          <div class="review" v-for="r in reviews" :key="r.id"> 
              <img src="../../static/user.png" height="35" width="35" class="review-img"></img>

              <div class="review-details">
                <div>
                  <span v-for="n in r.rating" :key="n">⭐</span> 
                </div>
                <p class="review-username">{{ r.username }}</p>
                <p class="review-comment">{{ r.comment }}</p>
              </div>
          </div>
        </div>
      {% endverbatim %}
    </div>

    <script>
      const { createApp, ref, onMounted } = Vue;

      const restaurantData = JSON.parse('{{ restaurant|safe }}');
      const reviewsData = JSON.parse('{{ reviews|escapejs }}');

      createApp({
        setup() {
          const restaurant = ref(null);
          const reviews = ref(null);
          const isAddingActive = ref(null);
          const newReview = ref({
            username: '',
            comment: '',
            rating: 0
          });

          const addReview = () => {
             if (newReview.value.username && newReview.value.comment && newReview.value.rating) {
              
                reviews.value.unshift({ ...newReview.value });
  
                newReview.value.id = reviews.length + 1,
                newReview.value.username = '';
                newReview.value.comment = '';
                newReview.value.rating = 0;

                isAddingActive.value = false;
                return;
             }

            isAddingActive.value = true;
          }

          onMounted(() => {
            restaurant.value = restaurantData;
            reviews.value = reviewsData;
          });
          return {
            restaurant,
            reviews,
            isAddingActive,
            addReview,
            newReview
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
